// Colors
$default: #fff;
$info: #CCE5FF;
$danger: #F8D7DA;
$success: #D4EDDA;
$warning: #FFF3CD;
$dark: #333;
$primary: #4286bc;
$info-dark: #589ee5;
$warning-dark: #edd071;
$danger-dark: #e7a3a9;
$success-dark: #98dba8;
$light: #eaedf2;
$inverse: #6b88a6;
$wrong: #e12233;
$correct: #3ac05a;



// Fonts
$weight-light: 200;
$weight-bold: 600;